
  <li class="list countries__item">
    <h2 class="countries__name">{{name}}</h2>   
       <img src="{{flag}}" alt="{{name}}" width="350">
      <article>
       
      <ul class="countries-date">
        <li class="list countries-date__item">Capital: {{capital}}</li>
        <li class="list countries-date__item">Population: {{population}}</li>
        </ul>
      <ul class="countries-date__languages">Language:
        {{#each languages}}
        <li class="countries-date__language">{{this.name}}</li>
        {{/each}}
      </ul>
      </article>
  </li>